/* ROOT COLORS */

:root {
    --backgroundMain: rgb(13,13,13);
    --backgroundSecond: rgb(23,23,23);
    --colorMain: #360032;
    --circleColor: #FFFFFF26;
    --colorText: #949494;
    --colorDefault: #fff;
}
